@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
/* ----------------Text Fonts ------------------- */
body {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #838383;
  font-style: normal;
  overflow-x: hidden;
  background: rgb(2,0,36);background: linear-gradient(231deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 37%, rgba(3,5,52,1) 51%, rgba(23,27,120,1) 65%, rgba(71,94,191,1) 74%, rgba(49,60,207,1) 88%, rgba(18,0,5,1) 99%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
}

h1,
.h1 { 
  font-size: 48px;
  margin-bottom: 25px;
}

h2,
.h2 {
  font-size: 42px;
  margin-bottom: 25px;
}

h3,
.h3 {
  font-size: 36px;
  margin-bottom: 25px;
}

h4,
.h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

h5,
.h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #838383;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 999999;
}
.loader .loader-inner {
  position: absolute;
  border: 2px solid #f50136;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.header {
  min-height: 50px;
  margin-top: 20px;
  transition: all ease-in-out 0.4s;
}
.header .menu {
  position: relative;
}
.header .logo img {
  max-width: 160px;
  margin-right: 3px;
}
.navbar {
  padding: 0;
}
.bg-img{
   background-image: url("/static/img/header_background.jpg");
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set body height to 100% of the viewport height */
  /* background-image: url("your-image.jpg"); URL of your background image */
  background-size: cover; /* Scale the background image to cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  overflow:hidden;

}
/* DNC */
.dnc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
}
.dncbody{
    width: 150px;
    transition: normal 2s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%) 0s;
}
.dncbody:hover{
    transform: translate3d(-15px, -36px, 35px);
    
}
.dnctext{
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 0.2vh;
  font-size: 1em;
  opacity: 0;
  transition: normal 2s ease-in-out ;
}
.dnctext span{
  padding-left: 5rem;
  padding-right: 5rem;
  
}
.dnctext:hover{
   opacity: 1;
}
.navbar-toggler {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 2px;
}
.nav-link {
  color: #ffffff;
  padding: 0 15px;
  font-size: 16px;
}
.nav-link.active {
  color: #f50136;
}
header.sticky_header {
  background: rgb(2,0,36);background: linear-gradient(231deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 37%, rgba(3,5,52,1) 51%, rgba(23,27,120,1) 65%, rgba(71,94,191,1) 74%, rgba(49,60,207,1) 88%, rgba(18,0,5,1) 99%);
  border-bottom: 7px solid blue;
  width: 100%;
  margin: 0;
  padding: 0px;
  -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.home-cover {
  position: relative;
}
.cover_slider {
  width: 100%;
  position: relative;
  list-style: none;
}
.cover_slider .cover_item {
  width: 100%;
  position: relative;
  height: 100vh;
  min-height: 600px;
  padding: 150px 0;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.slider_content {
  position: relative;
  text-align: center;
  color: #ffffff;
}
.cover-title {
  font-size: 42px;
  margin-bottom: 15px;
  font-weight: 700;
}
.cover-xl-text {
  font-size: 72px;
  margin-bottom: 20px;
  display: block;
  font-weight: 900;
}
.cover-date {
  font-size: 20px;
  font-weight: 500;
}
.pt100 {
  padding-top: 100px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.box_title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}
.section_title {
  position: relative;
  margin-bottom: 25px;
}
.section_title .title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 36px;
}
.mt30 {
  margin-top: 30px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.speaker_box {
  position: relative;
  overflow: hidden;
  text-align: center;
 
}
.speaker_box .speaker_img {
  position: relative;
  overflow: hidden;
 
}
.speaker_box .speaker_img img {
  width: 150px; 
  height: 150px; 
  transition: all ease-in-out 0.4s;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
  margin-left: 3rem;

}
.speaker_box .speaker_img .imgb{
    transition: filter 0.4s ease-in-out;
}
.speaker_box .speaker_img:hover .imgb  {
  filter: blur(3px); /* Apply blur effect on hover */
}
.info_box {
position: absolute;
    top: 0;
    left: 0;
    width: 116%;
    height: 80%;
    color: white;
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.speaker_box .speaker_img:hover .info_box {
  opacity: 1; /* Shows overlay on hover */
}

.speaker_box .name{
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.brand_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_item {
  opacity: 0.3;
  transition: all ease-in-out 0.4s;
}
.brand_item:hover {
  opacity: 1;
}
.brand_item img {
  display: block;
  max-width: 130px;
  margin: 0 auto;
}

/* footer */
footer {
  padding: 50px 0 100px;
  background-color: #0b031b;
}
.footer_box {
  position: relative;
  margin-top: 50px;
}
.footer_header {
  margin-bottom: 20px;
}
.footer_logo img {
  max-width: 120px;
}
.footer_box_body {
  color: #838383;
}
.footer_social {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_social li {
  display: inline-block;
  margin-right: 10px;
}
.footer_social li a {
  color: #ffffff;
  font-size: 16px;
}
.footer_title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}

.copyright_footer {
  background-color: #080113;
  padding: 15px;
  text-align: center;
  color: #ffffff;
}
.footer_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.footer_menu li {
  display: inline-block;
  margin: 0 10px;
}
.footer_menu li a {
  color: #ffffff;
  font-size: 14px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6,
.col-md-3,
.col-12,
.col-md-6,
.col-lg-3,
.col-md-4,
.col-sm-6,
.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.text-center {
  text-align: center !important;
}
.justify-content-center {
  justify-content: center !important;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  padding: 20px; /* Padding inside the element */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional border */
  color: rgb(255, 0, 0); /* Text color */
  max-width: 400px; /* Maximum width */
  margin: 20px auto; /* Centered container */
  text-align: center;
  padding: 30px;
  transition: all 0.4s ease-in-out;
}
.glassmorphism:hover {
  background: rgba(79, 77, 77, 0.043);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  color: #000000;
  font-weight: 900;
  transform: translateY(-20px);
}
.box_image {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.box_image:hover {
  /* background: rgba(241, 4, 4, 0.596); */
  border-radius: 2rem;
  /* color: #ffffff; */
}
.dnclogo{
  position: relative;
}